<%-include("Header.ejs")-%>
    <div id="header" class="cont text-center">
        <h1 classs="my-4">Expense Tracker</h1>
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="filterDropdown" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Filter
            </button>
            <div class="dropdown-menu" aria-labelledby="filterDropdown">
                <a class="dropdown-item" href="/category/">All Expenses</a>
                <a class="dropdown-item" href="/category/food">Food</a>
                <a class="dropdown-item" href="/category/utilities">Utilities</a>
                <a class="dropdown-item" href="/category/living">Living</a>
                <a class="dropdown-item" href="/category/shopping">Shopping</a>
                <a class="dropdown-item" href="/category/transport">Transport</a>
                <a class="dropdown-item" href="/category/entertainment">Entertainment</a>
                <a class="dropdown-item" href="/category/others">Others</a>
            </div>
        </div>
    </div>

    <div class="expenses" id="expenses">
        <div class="cont">

            <% if(typeof data==typeof []){%>

                <% data.forEach((expense_object)=>{ %>
                    <div class="expense">
                        <div class="expense_name">
                            <h2>
                                <%= expense_object.name %>
                            </h2>
                        </div>
                        <div class="expense_amount">
                            <h3>
                                $ <%= expense_object.amount %>
                            </h3>
                        </div>

                        <a href="/delete/<%= expense_object._id %>"><i class="fa-solid fa-trash"></i></a>

                    </div>
                    <% }) %>
                        <% } else{ %>
                            <h2>No Expenses Found</h2>
                            <% } %>

        </div>
    </div>

    <%-include("Footer.ejs")-%>